
body {
    background-color: #111;

}

.leftMenu {
    float: left;
    width: 30%;
    position: absolute;
    z-index: 10;
    left: -30%;
    transition: all 1s;
    padding: 10px;
    background-color: rgba(193, 226, 255, 0.45);
    padding: 10px;
    height: 100%;
}

#openButton {
    right: -40px;
    background-color: rgba(193, 226, 255, 0.45);
    position: relative;
    width: 30px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 24px;
    float: right;

}

#globe {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;

}

#canvasOne {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #111;
    background-image: url("bg.jpg");
    background-size: cover;
}

.input-group {
    width: 100%;
}

#alert {
    opacity: 1;
    z-index: 10;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    top: 10px;
    position: absolute;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

.afterControls {
    display: none;
}

.checkCompare {
    display: none;
}

#advancedOptions {
    display: none;
}

#compareOptions {
    display: none;
}

#chart_div {
    width: 100%;
    height: 300px;
    position: relative;
    float: left;
}
#start{
    display:none;
}

.hoverControl {
    position: absolute;
    float: right;
    right: 0px;
    color: black;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(220, 220, 220, 0.8);
    border-bottom-left-radius: 5px;
    z-index: 100;
}

#infoPoint {
    top: 10px;
    position: relative;
    float: left;
    width: 100%;
}

#correlation {
    top: 10px;
    position: relative;
    float: left;
    width: 70%;
    color: #001DFF;
    font-size: large;
    padding-left: 100px;
}

#correlationVoxel {
    top: 10px;
    position: relative;
    float: left;
    width: 70%;
    color: #001DFF;
    font-size: large;
    padding-left: 100px;
}

#configSelector {
    display: none;
}

#configSelector {
    display: none;
}

#CSVOptions {
    display: none;
}

#bottomMenu {
    display: none;
}

span.input-group-addon {
    min-width: 150px;
    text-align: left;
}

input.form-control.bigText {
    font-size: 35px;
    height: 50px;
    text-align: center;
    line-height: 0px;
    padding: 0px;
}

.blockInput {
    margin-bottom: 10px;

}

#configType {
    widht: 100%;
    text-align: center;

}

#dbOptions {
    display:none;
}

#configType {
    display: none;
}


#updateSettings {
    display: none;
}

#configSelectorCompare {
    display: none;
}

.sliders {
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.ui-widget-header {
    background: #00B8FF;
}

#bottomMenu {
    display: none;
    bottom: 0px;
    width: 100%;
    position: fixed;
    background-color: white;

}

#hideStatistics {
    margin-top: 10px;
    margin-right: 50px;
    float: right;

}

#loading {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    text-align: center;

}

#loading img {
    max-width: 100px;
    margin-top: 20%;
}
input#maxTile {
    width: 70px;
}

#legend {
    float: right;
    z-index: 1000;
    right: 20px;
    top: 100px;
    font-size: 15px;
    border-radius: 20px;
    height: 250px;
    width: 150px;
    padding: 10px;
    color: black;
    font-size:15px;
    background-color: rgba(193, 226, 255, 0.45);
    position: absolute;
}
.autoTile{
    display:none;
}